.movie-component {
    max-height: 40em;
    overflow-y: scroll; 
    overflow-x: hidden;
    margin-bottom: 5em;
    
    background-color: #eff0f1;
    -webkit-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
    table {
        width: 100%;
        tr {
            padding: 1em 0.25em; 
            display: block;
            border-bottom: 1px solid #7c848c;
            th, td {
                min-width: 8em;
                margin-right: 1em;
                text-align: center;
            }
            th.title:hover,
            th.count:hover {
                cursor: pointer;
            }
            .title {
                width: 8em;
            }
        }
        tr:last-child {
            border-bottom: 0;
        }
    }
}